body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.generator {
  display: flex;
  margin: 30px;
  justify-content: center;
  padding: 20px;
}

.App {
  width: 400px;
  height: 400px;
  background-color: rgb(99, 99, 187);
  margin: 300px 300px;
  align-items: center;
}

.title {
  font-size: 10px;
  color: white;
  text-align: center;
  margin: 40px;
  padding-top: 10px;
}

.p-result {
  font-size: 16px;
  color: white;
  text-align: center;
}

input {
  width: 100px;
}

h4 {
  margin: 0;
  padding: 0;
}

.btn {
  height: 60px;
  width: 200px;
  font-size: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-left: 100px;
  margin-bottom: 20px;
}

button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.alert {
  font-size: 20px;
  color: red;
  background-color: azure;
}
